.contact-body{
    display: flex;
    color: white;
    justify-content: center;
    margin: 3rem 0;
    width: 100%;
}
.contact-image{
    margin-top: 5rem;
    margin-right: 2rem;
    width: 50%;
}
.contact-image img{
width: 100%;
height: 100%;
border-radius: 10px;
}
.contact-details{
margin-left: 2rem;
font-size: 1.6rem;
}
.contact-details h3{
text-align: center;
color: #eec81d;
font-size: 3rem;
}
.hr-lines{
    margin-bottom: 2rem;
}

.contact-details p{
    margin-bottom: 2rem;
}
.contact-desc{
    margin-bottom: 0;
    color: #eec81d;
}
blockquote::before {
    content: "\201c";
    font-size: 60px;
    color: #eec81d;
}

@media screen and (max-width: 768px) {
    .contact-body{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

    }
    .contact-image{
        margin-top: 0;
        width: 100%;
    }
}