
.hero-service{
    min-height: 120vh;
    background-color: rgb(22, 20, 20);
    padding: 1.5rem;
    background-image: url(./img/er.png);
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-service-desc{
    font-weight: bold;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2rem;
}
.hero-desc{
    color: black;
    font-size: 2rem;
}
/*  */


.hero-service-desc button {
    width: 160px;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18.874px;
    line-height: 22px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  .hero-service-desc button a{
    color: #eec81d;
  }
  .hero-service-desc button a:hover{
    color: black;
  }
  .hero-service-desc button:hover {
    width: 160px;
    color: black;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18.874px;
    line-height: 22px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

/*  */
.services-bor{
    background-color: rgb(22, 20, 20);
    margin-top: 0;
    padding: 8rem 2rem;
}
.services-bor p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.services-bor h3{
    margin: 0 auto;
    text-align: center;
}
.service-trust{
    font-size: 1.5rem;
    padding: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #eec81d;
}
.values{
    color: white;
    margin: 3rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fa-icon{
    color: #eec81d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 4rem;
}
.fa-icon p{
    font-size: 2rem;
    padding-top: 1.2rem;
}
.service-read{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.service-read button {
    color: #eec81d;
    width: 160px;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18.874px;
    line-height: 22px;
    background: #eec81d;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  .service-read button a{
    color: black;
  }
  .service-read button a:hover{
    color: #eec81d;
  }
  .service-read button:hover {
    width: 160px;
    color: #eec81d;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18.874px;
    line-height: 22px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #eec81d;
}

.services-features{
    display: flex;
    margin: 2rem 0 0 0;
    color: black;
    background-color: white;
    padding: 2rem;
  }
  .services-features .l-div{
    padding-right: 4rem ;
  }
  .services-features .l-div img{
    height: 600px;
    width: 500px;
  }
  .services-features .l-text div{
    position: relative;
    top: 30%;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .services-features .l-text div p{
    font-size: 1.2rem;
}
.service-check{
    display: flex;
}
.service-check-main{
    width: 50%;
    color: #eec81d;  
    display: flex;
}
.service-check-install{
    width: 50%;
    color: #eec81d;
    display: flex;
}
.service-check-install h3{
    color: black;
    padding-left: .6rem;
}
.service-check-main h3{
    color: black;
    padding-left: .6rem;
}

.services-features-2{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
    padding-bottom: 4rem;
    color: black;
    background-color: white;
}

  .services-features .l-div img{
    height: 600px;
    width: 500px;
  }
  .services-features-2 .l-text div{
    position: relative;
    top: 10%;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .services-features-2 .l-text div p{
    font-size: 1.2rem;
}
   .services-features-2 .l-text div p span{
    font-size: 1rem;
    padding-bottom: 1.2rem;
    letter-spacing: .5rem;
  }
  .services-features-2 .service-check-main{
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;  
}
.services-features-2 .service-check-install{
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
}
.services-features-2 .service-check-main h3{
    color: black;
    padding-left: 0;
}


/* FOR TABLETS */
@media screen and (min-width: 500px) and (max-width: 1004px) {

  .services-features {
    display: flex;
    flex-direction: column;
  }
  .services-features .l-div img {
    height: 600px;
    width: 100%;
}

.services-features-2 {
  display: flex;
  flex-direction: column;}


.services-features-2 .l-div img {
  height: 600px;
  width: 100%;

}
.choose {
  padding-top: 3rem;
}
}
/* FOR MOBILES */
@media screen and (max-width: 499px) {
    
  .nav-menu {
      top: 3rem;
  }
  .values {
    padding: 1rem 1rem;
  }

  .Adaption{
      margin: 0 auto;
  }
  
  .services-features .l-div {
    padding-right: 0rem;
}

.service-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-check {
  display: flex;
  flex-direction: column;
}

  .services-features {
    display: flex;
    flex-direction: column;
  }
  .services-features .l-div img {
    height: 600px;
    width: 100%;
}

.services-features-2 {
  display: flex;
  flex-direction: column;}


.services-features-2 .l-div img {
  height: 600px;
  width: 100%;

}
.choose {
  padding-top: 3rem;
}

.services-features-2 .service-check-main {
  width: 100%;
}
.services-features-2 .service-check-install {
  width: 100%;
}

}