main.form-container{
    width: 400px;
    margin: 40px auto 40px auto;
    }
.register h2{
    text-align: center;
    text-shadow: 2px 1px 5px rgb(0, 0, 0, 0.3);
    padding: 1.5rem 0;
}
div.register{
    width: 100%;
    background-color: rgba(58, 58, 59, 0.5);
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(247, 246, 246, 0.3);
    margin-bottom: 20px;
    color: white;
    padding: 40px;
    text-align: left;
}
label, span{
    text-shadow: 1px 1px 5px rgba(77, 76, 75, 0.3);
    font-style: italic;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
select,
input[type=submit],
input[type=password]{
  width: 100%;
  padding: 1rem;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #eec81d;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0px 3px 0px 0px rgba(192, 186, 186, 0.39);
  }
  
input:focus,
input:active {
  outline: none !important;
  border: solid 1px rgba(231, 253, 26, 0.911);
}
input:invalid {
  border-color: gray;
  }

  .register a{
    color: #eec81d;
  }
  .register a:hover{
    text-decoration: underline;
  }

  @media screen and (max-width: 499px) {
    form {margin-bottom: 3rem;}
  }